.main {
  height: 95%;
  width: 100%;

  display: flex;
  justify-items: flex-start;
  align-items: center;
}
.ride-box {
  position: absolute;

  left: 51%;
  top: 50%;
}

.create{

  font-size: large;
  position: relative;

  left : 50%;
  
}